@use "../abstracts" as *;

.flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-column-gap-default);
  row-gap: var(--flex-row-gap, $flex-row-gap-default);
  width: var(--flex-width, fit-content);
  justify-content: center;
  align-items: center;
}
