@use "../abstracts" as *;

.primary-header {
  --flex-width: auto;
  color: $header-clr;
  background-color: $header-bg-clr;
  padding: get-size(5) 0;
}

.header-logo {
  width: 5rem;
  height: 5rem;
}
